.titulo-contato{
    font-weight: bold;

    font-size: 1.5rem;

    text-align: center;

    padding-top: 60px;
    padding-bottom: 30px;
}

.fale-conosco{
    text-align: center;
    line-height: normal;
}

.paragrafo-fale{
    font-size: 19px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 8px;
}

.img-svg{
    width: 8%;
    padding: 0 16px 0 8px;
}

.titulo-loc{
    font-weight: bold;

    font-size: 1.5rem;

    text-align: center;

    padding-top: 70px;
    padding-bottom: 30px;
}

.mapa{
    margin-left: 15px;
}