.inside-container { 
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: var(--spacing-xxLarge) auto;
    min-height: calc(100vh - 2.38*var(--superior-navbar-height));
}

.open {
    margin-left: var(--lateral-navbar-width);
}