.inside-container { 
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 100vw;
    margin-top: var(--spacing-large);
    margin-left: 0;
    margin-bottom: var(--spacing-xxLarge);
}

.open {
    margin-left: var(--lateral-navbar-width);
}