.titulo-editar{
    font-weight: bold;

    font-size: 1.5rem;

    text-align: center;

    padding-top: 60px;
    padding-bottom: 30px;
}

.perfilfoto{
    width: 30%;
    margin-left: 7px;
}

.botao-escolher{
    margin-left: 7px;
    margin-top: 15px;
    margin-bottom: 45px;
    width: 40%;
    height: 40%;
}

.at{
    margin-left: 20px;
}

.input-padrao{  
	display: block; /*bota tudo embaixo do outro*/
	margin: 0 0 15px; /*afasta a label da caixinha de resposta*/
	padding: 10px 25px; /*aumenta o tamanho da caixinha*/
	width: 60%; /*aumenta a largura da caixinha*/
    margin-left: 20px;
    margin-top: 10px;

}

.botao-ok{
	width: 80%; /*aumenta a largura*/
	font-weight: bold;
	font-size: 18px;
	border: none; /*nenhuma borda*/
	cursor: pointer; /*mostrar aquela maozinha do mouse*/

    background: #494986;

    box-sizing: border-box;
    border-radius: 3rem;

    color: #fefefe;

    margin: 2rem;

    padding: 23px;

}

@media screen and (min-width: 1440px) {
    .titulo-editar{
        padding-top: 50px;

        padding-right: 8rem;
    }

    .perfilfoto{
        width: 10%;

        padding-right: 8rem;
    }

    .botao-escolher{
        margin-right: 8rem;
        width: 10%;
    }

    .input-padrao{  
        margin-right: 10rem;
        margin-left: 0rem;
    }

    .botao-ok{
        margin-right: 9rem;
        margin-left: -1.5rem;
    }
}