header {
    height: var(--superior-navbar-height);
}



.cabecalho {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #b7d5e5;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);

    .img-logo {
        width: var(--superior-navbar-height);
    }
}

.assine {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho__menu {
    background-color: #b7d5e5;
    border: none;
}

.botao-logo{
    background-color: #b7d5e5;
    border: none;
    cursor: pointer;
}


.cabecalho-logo {
    size-adjust: 0.2rem;
    max-height: calc(var(--superior-navbar-height) - 2*8px);
} 

.icones{
    width: 2rem;
}


.icon{
    width: 50px;
    padding: var(--spacing-xxxSmall);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b7d5e5;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho__menu i::before {
    font-size: 24px;
}

.cabecalho__notificacao i::before {
    font-size: 24px;
}

.cabecalho__logo {
    width: 40px;
}

.cabecalho__perfil {
    display: none;
}


@media screen and (min-width: 1440px) {

    .cabecalho__menu {
        display: none;
    }

    .cabecalho__logo {
        display: none;
    }

    .cabecalho__perfil {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: #95999C;
        padding: 8px 32px;
        border-right: 1px solid #95999C;
    }

    .cabecalho__perfil::before {
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../../../../img/pro.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cabecalho__perfil::after {
        color: #4b3d3d;
        font-size: 1.5rem;
    }

    .menu-lateral {
        display: flex;
        flex-direction: column;
        background-color: #b7d5e5;
        width: var(--lateral-navbar-width);
        height: 100vh;

        padding-top: var(--spacing-large);
        position: fixed;
        left: 0vw;
        transition: .25s;
    }
    
    .menu-lateral--ativo {
        left: 0;
        transition: .25s;
    }
    
    .menu-lateral__logo {
        width: 118px;
        align-self: center;
        padding: 16px;
    }
    
    .menu-lateral__link {
        height: 64px;
        color: #000000;
        padding-left: 1.5rem;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .cabecalho {
        margin-left: 0;
        padding-left: var(--spacing-xSmall) !important;
    }
}