.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--baby-blue);
    padding-bottom: var(--spacing-xSmall);
    margin-top: 5rem;
}

.rodape__social {
    display: flex;
}

.rodape__midia {
    display: block;
    padding: var(--spacing-xSmall);
}


.rodape__link {
    margin: 0 .5rem .7rem;
}

.redes-svg{
    width: 257%;
}

.copy{
    text-align: center;
    line-height: normal;

    font-size: 14px;
<<<<<<< HEAD
}

@media screen and (min-width: 1440px) {
    .rodape__social {
        margin-left: 13.5%;
    }
    .copy{
        margin-left: 15%;
    }

=======
>>>>>>> 7247df29beeb06ae2969b39a12ce2a701c0f9b73
}