/*planos*/

.titulo-plano {
    font-weight: 700;
    font-size: 1.5rem;

    margin-top: 3rem;
    margin-bottom: 3rem;

    text-align: center;
   

    color: #000000;

    border-bottom: 1px solid #F0F0F0;
}

.cartao {
    display: flex;
    flex-direction: column;

    background-color: var(--branco);

    width: 130%;
    max-width: 300px;

    text-align: center;

    margin-top: 2rem;
    margin-bottom: 2rem;


    box-shadow: 10px 10px 10px #808080;

}


.planos-cartoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-cartoes {
    font-weight: 700;
    font-size: 2rem;

    text-align: center;
   
    margin: 3rem 3rem 2rem 2rem;

    color: #b7d5e5;

    border-bottom: 1px solid #F0F0F0;
}

.descricao-cartao{
    margin-bottom: 1rem;
}

.preco-cartao {

    margin: 2rem 1rem 1rem 1rem;

    font-weight: 700;
    font-size: 2.5rem;

}
.cartao-item {
    max-width: 350px;

    box-sizing: border-box;

    background-repeat: no-repeat;
    background-position: top 1.25rem left 2.5rem;

    padding: 1.3rem 3rem 0 3.1rem;
    margin-left: 1rem;
}



.cartao-item-verificado{
    background-image: url(../../img/verificado.svg);
}

.descricao-cartao {

    line-height: 0.5rem;

    padding-bottom: 8px;

}

.botao-plano {
    background: #494986;

    box-sizing: border-box;
    border-radius: 3rem;

    color: #fefefe;

    margin: 2rem;

    padding: 23px;

}

.botao-plano:hover{
    cursor: pointer;
}

.botao-planos {
    background: #494986;

    box-sizing: border-box;
    border-radius: 3rem;

    color: #fefefe;

    margin: 2rem;

    padding: 23px;

}

.iconsvg{
    margin-bottom: -5px;
    margin-left: -15px;
    margin-right: 1rem;
}
