
.banner {
    display: flex;
    margin: auto var(--spacing-small);
}

.card {
    @extend .banner;
    flex-direction: row;
    border-radius: var(--border-radius-large);
    padding: var(--spacing-xxxSmall);
    background-color: var(--color-white);

    &-image {
        border-radius: var(--border-radius-large);
        height: var(--banner-image-height);
        min-width: var(--banner-image-width);
    }
}
.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-xxxSmall);
    gap: var(--spacing-small);
}
.card-section:nth-child(1) {
    padding: var(--spacing-xxSmall);
    gap: var(--spacing-xxSmall);
}

.card-section-title {
    font-size: var(--font-size-xxxLarge);
    text-align: center;
}
.card-section-text {
    @extend .flex-column-start;
    padding-left: var(--spacing-xxSmall);
    width: max-content;
}

.card-section-button {
    width: 100%;
    border: none;
    border-radius: var(--border-radius-xLarge);
    padding: var(--spacing-xSmall);

    background-color: var(--color-magenta);
    color: var(--color-white);
    font-size: var(--font-size-large);

    &:hover {
        background-color: var(--color-magenta80);
        transform: scale(1.05);
    }
}

.flex-column-center { /* esse container vai ser o espaçamento de toda a pagina*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.flex-column-start { /* esse container vai ser o espaçamento de toda a pagina*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}