.titulo-cancel{
    font-size: 1.5rem;

    text-align: center;

    padding-top: 40px;
    padding-bottom: 30px;
}

.parag{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: normal;
}

.botao-cancelar{
	width: 40%; /*aumenta a largura*/
	font-weight: bold;
	font-size: 18px;
	border: none; /*nenhuma borda*/
	cursor: pointer; /*mostrar aquela maozinha do mouse*/

    background: #494986;

    box-sizing: border-box;
    border-radius: 3rem;

    color: #fefefe;

    margin-top: 2rem;
    margin-left: 30%;

    padding: 1.1rem;
}

.titulo-emprestados{
    font-weight: 700;
    font-size: 1.2rem;

    text-align: left;
   
    margin-top: 40px;
    margin-left: 10px;

    color: #494986;

    border-bottom: 1px solid #F0F0F0;

}
.livro{
    width: 25%;
}

.livros{
    margin-top: 10px;
    /*margin-left: 50px;
    margin-right: 20px; */
}

.livros ul{
    display: inline-block;
}

.before, .after{
    width: 8%;
    margin-bottom: 64px;
    margin-left: 6px;
}

@media screen and (min-width: 1440px) {
    .titulo-cancel{
        padding-top: 50px;
        padding-right: 8rem;
    }

    .botao-cancelar{
        width: 20%;
        margin-left: 31.5rem;
    }

    .titulo-emprestados{
        margin-left: 12.5rem;
    }
    .livros{
        margin-top: 1rem;
        margin-right: 5rem;
    }
}