.cadastro {

    &-titulo {
        font-size: var(--font-size-xLarge);
        font-weight: bold;
        padding: var(--spacing-small) 0;
        text-align: center;
    }

    &-form {
        @extend .flex-column-center;
        gap: 24px;

        section {
            width: 100%;
        }

        &-basic {
            .input-padrao {
                @extend .basic-input;
            }
        }

        &-selecao {
            width: 100%;

            .lista {
                font-size: 1rem;
                margin: 0 0 15px; /*afasta a label da caixinha de resposta*/
                margin-left: 20px;
                margin-top: 10px; 
                padding: 10px 25px; /*aumenta o tamanho da caixinha*/  
            }
        }

        &-lista {
            .checkbox-generos{
                display: block;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 16px;
            }
        }

        &-check {
            .checkbox{
                display: block;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 20px;
            } 
        }   
        
        &-submit{
            @extend .default-button;
            width: 100%; /*aumenta a largura*/
            font-weight: bold;
            font-size: 18px;
            box-sizing: border-box;
            border-radius: 3rem;

            margin: var(--spacing-xSmall) auto;
            padding: var(--spacing-xSmall);        
        }
    }

    .titulo-dados {
        font-size: var(--font-size-xLarge);
        font-weight: bold;
        padding-bottom: 1.5rem;
        padding-top: 2rem;
        text-align: center;
    }
    .basic-input {  
        display: block; /*bota tudo embaixo do outro*/
        margin: 0 0 15px; /*afasta a label da caixinha de resposta*/
        padding: 10px 25px; /*aumenta o tamanho da caixinha*/
        width: 50%; /*aumenta a largura da caixinha*/
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 2rem;
        width: 100%;
        width: calc(100% - 2*var(--spacing-large));
    }
    .custom-label{
        margin-top: 1.5rem;
        margin-left: 1rem;
        text-align: left;
        margin-bottom:10px;
    }
}


@media screen and (min-width: 1440px) {
    .titulo-dados{
        padding-top: 50px;
    }
}


.flex-column-center { /* esse container vai ser o espaçamento de toda a pagina*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.default-button {
    text-decoration: none;
	border: none; /*nenhuma borda*/
	cursor: pointer; /*mostrar aquela maozinha do mouse*/

    background-color: var(--color-magenta);
    color: var(--color-white);
}