.titulo-editar{
    font-weight: bold;

    font-size: 1.5rem;

    text-align: center;

    padding-top: 3rem;
    padding-bottom: 30px;
    margin-left: 2rem;
}


.botao-escolher{
    margin-left: 7px;
    margin-top: 15px;
    margin-bottom: 45px;
    width: 40%;
    height: 40%;
}

.at{
    margin-left: 20px;
    margin-top: 1rem;
    font-weight: bold;
}

.input-padrao-ed{  
	display: block; 
    width: 30%;
    padding: 10px 20px;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    margin-left: 1.8rem;
}

.botao-ok{
	width: 80%; 
	font-weight: bold;
	font-size: 18px;
	border: none;
	cursor: pointer;

    background: #494986;

    box-sizing: border-box;
    border-radius: 3rem;

    color: #fefefe;

    margin: 2rem;

    padding: 23px;

}
