:root {
    --branco: #FFF;
    --azul-claro: #DFE3E5;
    --vermelho-forte: #B72E2E;
    --cinza-escuro: #4F4C4C;

    --spacing-xxxSmall: 8px;
    --spacing-xxSmall: 16px;
    --spanging-xSmall: 24px;
    --spancing-small: 32px;
    --spancing-medium: 40px;
    --spancing-large: 48px;
    --spancing-xLarge: 64px;

    --breakpoint-mobile: 767px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1366px;

    --lateral-navbar-width: 200px;
    --superior-navbar-height: 225px;
}

b {
    font-weight: bold;
}
    
em {
    font-style: italic;
}

body {
    background-color: #EDEEE9;

    font-family: 'Montserrat', sans-serif;
}

.container { /* esse container vai ser o espaçamento de toda a pagina*/
    padding-right: 6%;
    padding-left: 6%;
}