.titulo-dados{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;

}

label{
    margin-left: 20px;
    margin-bottom: 30px;
}

.input-padrao{  
	display: block; /*bota tudo embaixo do outro*/
	margin: 0 0 15px; /*afasta a label da caixinha de resposta*/
	padding: 10px 25px; /*aumenta o tamanho da caixinha*/
	width: 50%; /*aumenta a largura da caixinha*/
    margin-left: 20px;
    margin-top: 10px;

}

.lista{
    width: 65%;

    font-size: 1rem;

    margin: 0 0 15px; /*afasta a label da caixinha de resposta*/
    margin-left: 20px;
    margin-top: 10px;

    padding: 10px 25px; /*aumenta o tamanho da caixinha*/

}

.generos{
    margin-top: 1px;
    margin-bottom: 1px;
}

.checkbox-generos{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: -4px;
}

.checks{
    margin-top: 4rem;
}

.checkbox{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}



.botao-ok{
	width: 50%; /*aumenta a largura*/
	font-weight: bold;
	font-size: 18px;
	border: none; /*nenhuma borda*/
	cursor: pointer; /*mostrar aquela maozinha do mouse*/

    background: #494986;

    box-sizing: border-box;
    border-radius: 3rem;

    color: #fefefe;

    margin: 2rem;

    padding: 23px;

}
