.titulo{
    font-size: 1.5rem;

    text-align: center;

    padding-top: 40px;
    padding-bottom: 30px;
}

.input-padrao{  
	display: block; /*bota tudo embaixo do outro*/
	margin: 0 0 15px; /*afasta a label da caixinha de resposta*/
	padding: 10px 25px; /*aumenta o tamanho da caixinha*/
	width: 50%; /*aumenta a largura da caixinha*/
    margin-left: 65px;
    margin-top: 10px;

}

.checkbox{
    margin-left: 85px;
    margin-top: 20px;
}

.botao-ok{
	width: 50%; /*aumenta a largura*/
	font-weight: bold;
	font-size: 18px;
	border: none; /*nenhuma borda*/
	cursor: pointer; /*mostrar aquela maozinha do mouse*/

    background: #494986;

    box-sizing: border-box;
    border-radius: 3rem;

    color: #fefefe;

    margin-left: 94px;
    margin-top: 27px;

    padding: 23px;

}

.cadastre-se{
    margin-bottom: -2rem;
    margin-left: 5rem;
    margin-top: 3rem;
}
