.titulo-plano{
    font-weight: 700;
        font-size: 1.5rem;
    
        margin-top: 3rem;
        margin-bottom: 3rem;
    
        text-align: center;
       
    
        color: #000000;
    
        border-bottom: 1px solid #F0F0F0;
}

h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.adicionar{
    margin-left: 8rem;
    border-radius: 30px;
    padding: 1rem;
    background: #494986;
    border: none;
    color: #fefefe;
}