
:root {
    --branco: #FFF;
    --azul-claro: #DFE3E5;
    --vermelho-forte: #B72E2E;
    --cinza-escuro: #4F4C4C;
    --cinza-claro: #EDEEE9;
    --baby-blue: #b7d5e5;
    --color-white: rgba(255, 255, 255, 1);
    --color-azul-magenta: rgba(73, 73, 134, 1);
    --color-azul-magenta-light: rgba(73, 73, 134, .9);
    --default-background: rgba(77,77,77, .1);

    --spacing-xxxSmall: 8px;
    --spacing-xxSmall: 16px;
    --spacing-xSmall: 24px;
    --spacing-small: 32px;
    --spacing-medium: 40px;
    --spacing-large: 48px;
    --spacing-xLarge: 64px;
    --spacing-xxLarge: 80px;

    --font-size-xxxLarge: 30px;
    --font-size-xxLarge: 26px;
    --font-size-xLarge: 22px;
    --font-size-large: 18px;
    --font-size-medium: 16px;
    --font-size-small: 14px;

    --border-radius-large: 20px;
    --border-radius-xLarge: 30px;

    --breakpoint-mobile: 767px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1366px;

    --lateral-navbar-width: 250px;
    --superior-navbar-height: 180px;
    --footer-icon-width: 30px;

    background-color: var(--default-background);
}