section{
    font-family: 'Montserrat', sans-serif;
    margin-right: 20rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: var(--lateral-navbar-width);
}

.titulo{
    font-size: 1.5rem;

    text-align: center;

    margin-top: 2rem;
    padding-bottom: 30px;
}


.input-padrao{  
    display: block;
    margin: 10px 2px 18px;
    padding: 10px 25px;
    width: 50%;
    margin-left: 38px;
}
.checkbox{
    margin-left: 85px;
    margin-top: 20px;
}

.botao-ok{
	width: 150px; /*aumenta a largura*/
	font-weight: bold;
	font-size: 18px;
	border: none; /*nenhuma borda*/
	cursor: pointer; /*mostrar aquela maozinha do mouse*/

    background: #494986;

    box-sizing: border-box;
    border-radius: 3rem;
    margin-top: 2rem;

    padding: 23px;

    margin-right: 13rem;

}

.botao-ok a{
    text-decoration: none;
    color: #fefefe;
}

.cadastre-se{
    margin-bottom: -2rem;
    margin-left: 5rem;
    margin-top: 3rem;
}

.esqueci{
    padding-top: 70px;
    margin-left: 3.2rem;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .login {
        margin-left: 0 !important;
    }
}

